@import '../../styles/index.module.scss';

.about {
    @include container;
    padding-top: 210px;
    padding-bottom: 165px;
    display: flex;

    &__title {
        @include regular-text;
        color: $grey;
        min-width: 415px;
    }

    &__content {
        max-width: 812px;
    }

    &__text {
        @include content-text;
        margin-bottom: 13px;
    }
}
