@import '../../styles/index.module.scss';

.wrapper {
    background-color: rgba($grey, 0.05);
}
.career {
    @include container;

    padding-top: 55px;
    padding-bottom: 80px;
    display: flex;
    align-items: center;

    &__info {
        display: grid;
        grid-template-columns: 1fr 450px;
        grid-template-areas:
            'title content'
            'slogan slogan'
            '. text ';

        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            grid-template-areas:
                'title'
                'content'
                'image'
                'slogan'
                'text ';
            padding: 70px 0;
        }
    }
    &__title {
        @include regular-text;

        grid-area: title;
        color: $grey;
        min-width: 415px;
        @media (max-width: $mobile) {
            min-width: unset;
            @include medium-text;
            color: $black;
            font-weight: 700;
            margin-bottom: 27px;
        }
    }

    &__content {
        grid-area: content;
        max-width: 460px;

        &__text {
            @include content-text;

            margin-bottom: 13px;

            @media (max-width: $mobile) {
                @include mobile-content;
            }
        }

        @media (max-width: $mobile) {
            margin-bottom: 53px;
        }
    }

    &__image {
        max-width: 675px;
        margin-left: 90px;
        grid-area: image;

        @media (max-width: $mobile) {
            max-width: 100%;
            margin-left: 0;
        }
    }

    &__slogan {
        @include extra-big-text;

        grid-area: slogan;
        color: rgba($black, 0.1);
        padding: 184px 0 275px;

        &_bold {
            font-weight: 700;
        }

        @media (max-width: $mobile) {
            @include mobile-extra-big;
            padding: 70px 0 53px;
            max-width: 300px;
        }
    }

    &__text {
        @include career-text;

        grid-area: text;
        max-width: 400px;
    }
}
