@import '../../styles/index.module.scss';

.arrow_link {
    @include regular-text;
    cursor: pointer;
    display: flex;
    align-items: center;

    &__href {
        @include basic-transition;
        color: $grey;
        position: relative;

        &__white {
            color: $white;
        }
        &__grey {
            color: $grey;
        }
        &__orange {
            color: $orange;
        }
    }

    &:hover {
        .arrow_link__href__grey {
            color: $orange;
        }
        .arrow_link__href__grey + .arrow_link__icon_before,
        .arrow_link__href__grey + .arrow_link__icon_after {
            path {
                fill: $orange;
            }
        }
        .arrow_link__icon_after {
            margin-left: 12px;
        }
        .arrow_link__icon_before {
            padding-left: 23px;
        }
    }
}

.arrow_link__icon_before,
.arrow_link__icon_after {
    @include basic-transition;
}

.arrow_link__icon_before {
    position: absolute;
    left: -27px;
    top: 50%;
    transform: translate(-50%, -50%) rotate(180deg);
}
.arrow_link__icon_after {
    margin-left: 6px;
}
