@import '../../../styles/index.module.scss';

.nav {
    display: flex;
    margin-left: 100px;
}

.nav__link {
    @include regular-text;
    @include basic-transition;
    color: $black;
    position: relative;

    &:hover {
        color: $white;
        border-bottom: 1px solid $white;
    }

    &:nth-child(1) {
        &::after {
            position: absolute;
            content: '';
            background-image: url(/images/icons/menu_arrow.svg);
            background-size: cover;
            background-repeat: no-repeat;
            width: 9px;
            height: 6px;
            top: 50%;
            transform: translate(0, -50%);
            right: -16px;
        }
    }

    & + & {
        margin-left: 45px;
    }
}
