@import '../../styles/index.module.scss';

.footer {
    @include container;
    padding-top: 140px;
    padding-bottom: 35px;

    &__content {
        display: flex;
        justify-content: space-between;
        height: 260px;
    }

    &__text {
        @include medium-text;

        max-width: 277px;
    }

    &__title {
        margin-bottom: 14px;
    }

    &__description {
        color: $grey;
        line-height: 25px;
    }

    &__rotate {
        position: absolute;
        right: 140px;
        transform: rotate(90deg);
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__copyright {
        @include extra-small-text;
    }

    &__link {
        @include extra-small-text;
        @include basic-transition;

        &:hover {
            color: $orange;
        }
        & + & {
            margin-left: 15px;
        }
    }
}
